<h2>Edit Description</h2>

<form action="/posts/{{_id}}?_method=put" method="post">
    <input type="text" value="{{description}}" name="description">
    <input type="submit" value="update" name="update">
</form>