<h2>New Post</h2>

<form action='/posts' method='post' accept-charset="UTF-8">
  <p>Title:
    <input type='text' value='' name='title' id=''>
    Source (url):
    <input type='text' value='' name='url' id=''>
    <input type='submit' value='Create'>
  </p>
</form>